

.fps-performance .fps-tableheading {
  font-size: large;
  font-weight: 600;
  text-decoration: underline;
  padding-top: 10px;

}

.fps-performance .fps-header-styles {
  font-size: larger;
  padding-top: 25px;
  font-weight: bold;
}

.fps-performance tr:hover {
  /* color: darkred; */
  background: white;
}

.fps-performance tr th {
  padding-right: 15px;
  min-width: 70px;
  text-align: left;

}

.fps-performance tr td {
  padding-right: 15px;
  padding-top: 3px;
  padding-bottom: 5px;
  text-align: left;
  /*  
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row; 
  */

}